body{
    padding: 0;
    margin: 0;
}

.main_part_container{
    width:900px;
    margin:10vh auto 0;
    padding-top: 5vh;
    /*position: ;*/
}

.hide_completed_button_part{
    display: flex;
    float: right;
    align-items: center;
    cursor: pointer;
}


.container {
    display: block;
    position: relative;
    padding-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 2px solid #008594;
    border-radius: 2px;
}

.container:hover input ~ .checkmark {
    background-color: white;
}

.container input:checked ~ .checkmark {
    background-color: #008594;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 4.5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control_part{
    width: 100%;
    height: 80px;
    margin:10vh auto 5vh;
    position: relative;
    display: flex;
}

.add_text_part{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.add_text_part_errored{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.text_on_input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: -3px;
}

.add_text_part input{
    width: 95%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid #FFCD04;
    outline: #FFCD04;
    padding-left: 20px;
}

.add_text_part_errored input{
    width: 95%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid #FF3104;
    outline: #FF3104;
    padding-left: 20px;
}

.add_text_part_errored:after{
    content: "Task content can contain max 54 characters.";
    position: absolute;
    width: 271px;
    height: 18px;
    left: 0px;
    bottom: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FF3104;
}



.add_button_part{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.add_button{
    width: 90px;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008594;
    color: white;
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
}

.section_part{
    width: 100%;
    height: 100%;
}

.section_part div:last-child{
    border-bottom: none;
}


.are_you_sure_button_part div:first-child{
    text-align: right;
}

.are_you_sure_button_part div span{
    cursor: pointer;
}











@media only screen and (max-width: 950px) {
    .main_part_container {
        width: 700px;
    }
}


@media only screen and (max-width: 750px) {
    .main_part_container {
        width: 400px;
    }

    .control_part{
        display: block;
    }

    .add_button_part {
        width: auto;
        display: block;
        float: right;
    }

    .add_text_part{
        width: 100%;
    }

    .add_text_part input{
        width: 100%;
    }

    .add_text_part_errored{
        width: 100%;
    }

    .add_text_part_errored input{
        width: 100%;
    }
}


@media only screen and (max-width: 450px) {
    .main_part_container {
        width: 250px;
    }

}